// COLORS
$color-primary-light:#b83333;
$color-primary-dark: #521818;
$color-primary:#7c2323;

$color-grey-light-1: #f0f0f0;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;


