// COLORS
$color-primary-light:#b83333;
$color-primary-dark: #521818;

$color-grey-light-1: #f0f0f0;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;

